kind: ConfigMap
apiVersion: v1
metadata:
  name: cluster-uptime-dashboard
  namespace: open-cluster-management-observability
  labels:
    grafana-custom-dashboard: "true"
  annotations:
    observability.open-cluster-management.io/dashboard-folder: Custom
data:
  cluster-uptime.json: |-
    {% raw %}
    {
      "annotations": {
        "list": []
      },
      "editable": true,
      "fiscalYearStartMonth": 0,
      "graphTooltip": 0,
      "links": [],
      "liveNow": false,
      "panels": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "$datasource"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "thresholds"
              },
              "mappings": [
                {
                  "options": {
                    "0": {
                      "color": "red",
                      "index": 1,
                      "text": "Offline"
                    },
                    "1": {
                      "color": "green",
                      "index": 0,
                      "text": "Online"
                    }
                  },
                  "type": "value"
                }
              ],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  { "color": "red", "value": null },
                  { "color": "green", "value": 1 }
                ]
              }
            },
            "overrides": []
          },
          "gridPos": {
            "h": 7,
            "w": 24,
            "x": 0,
            "y": 0
          },
          "id": 2,
          "options": {
            "colorMode": "value",
            "graphMode": "area",
            "justifyMode": "auto",
            "orientation": "auto",
            "reduceOptions": {
              "calcs": ["lastNotNull"],
              "fields": "",
              "values": false
            },
            "textMode": "auto"
          },
          "pluginVersion": "9.2.3",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "$datasource"
              },
              "editorMode": "code",
              "expr": "max(up{job=\"apiserver\"}) by (cluster)",
              "legendFormat": "{{cluster}}",
              "range": true,
              "refId": "A"
            }
          ],
          "title": "Current Uptime Status",
          "type": "stat"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "$datasource"
          },
          "fieldConfig": {
            "defaults": {
              "custom": {
                "align": "auto",
                "cellOptions": {
                  "type": "color-background"
                }
              },
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  { "color": "red", "value": null },
                  { "color": "orange", "value": 0.95 },
                  { "color": "green", "value": 0.99 }
                ]
              },
              "unit": "percentunit"
            },
            "overrides": []
          },
          "gridPos": {
            "h": 12,
            "w": 24,
            "x": 0,
            "y": 7
          },
          "id": 3,
          "options": {
            "footer": {
              "show": false
            },
            "showHeader": true
          },
          "pluginVersion": "9.2.3",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "$datasource"
              },
              "editorMode": "code",
              "expr": "avg_over_time(up{job=\"apiserver\"}[$__range])",
              "format": "time_series",
              "instant": true,
              "legendFormat": "{{cluster}}",
              "range": false,
              "refId": "A"
            }
          ],
          "title": "Historical Uptime (Over Selected Time Range)",
          "transformations": [
            {
              "id": "reduce",
              "options": {
                "includeTimeField": false,
                "mode": "seriesToRows",
                "reducers": [
                  "lastNotNull"
                ]
              }
            },
            {
              "id": "organize",
              "options": {
                "excludeByName": {},
                "indexByName": {},
                "renameByName": {
                  "Field": "Cluster Name",
                  "Last not null": "Uptime %"
                }
              }
            }
          ],
          "type": "table"
        }
      ],
      "refresh": "1m",
      "schemaVersion": 37,
      "style": "dark",
      "tags": ["acm", "custom", "uptime"],
      "templating": {
        "list": [
          {
            "current": {
              "selected": false,
              "text": "Prometheus",
              "value": "prometheus"
            },
            "hide": 0,
            "includeAll": false,
            "multi": false,
            "name": "datasource",
            "options": [],
            "query": "prometheus",
            "refresh": 1,
            "regex": "",
            "skipUrlSync": false,
            "type": "datasource"
          }
        ]
      },
      "time": {
        "from": "now-1h",
        "to": "now"
      },
      "timepicker": {},
      "timezone": "",
      "title": "Cluster Uptime Dashboard",
      "uid": "custom-cluster-uptime",
      "version": 2
    }
    {% endraw %}