apiVersion: v1
kind: Secret
metadata:
  name: auto-import-secret
  namespace: {{ cluster_name }}
type: Opaque
data:
  # The Ansible slurp module automatically base64 encodes the file content,
  # so we can drop it directly into the Secret data block.
  kubeconfig: {{ spoke_kubeconfig_raw.content }}